#content {
    max-width: 1440px;
    margin: auto;
    left: 1%;
    right: 1%;
    position: absolute;
}





.navbar_contents
{
    width: 1440px;
    height: 201px;
   
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px;
    background: rgba(234, 247, 248, 0.8);

}
.logo{
   
    margin-left: 80px;
    margin-top: 30.02px;
    margin-bottom: 128px;

    /* background: #27272A; */
}
.logoname
{
    
    margin-top: 22px;
    margin-left: 5px;
}
.overview
{
    text-align: center;
    margin-left: 400px;
    margin-top: 45px;
    margin-bottom: 140px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    /* identical to box height, or 100% */


color: #18181B;
}
.pricing
{
    margin-left: 30px;
    margin-top: 45px;
    margin-bottom: 140px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    /* identical to box height, or 100% */


color: #18181B;
}
.case
{
    margin-left: 30px;
    margin-top: 45px;
    margin-bottom: 140px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    /* identical to box height, or 100% */


color: #18181B;
}
.faq
{
    margin-left: 30px;
    margin-top: 45px;
    margin-bottom: 140px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    /* identical to box height, or 100% */


color: #18181B;
}
.signin
{

    float: right;
    margin-right: 80px;
   
}
.insideb1
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    background-color: #CFFAFE;
    border-radius: 2px;

    color: #0E7490;

}

.main_contents
{

    width: 1470px;
    background: rgba(234, 247, 248, 0.8);
    
}
.maincontainer
{
    width: 100%;
    display: flex;
}
.leftcontainer
{
    flex-direction: column;
    padding-top: 60px;
}
.para
{
    width: 480px; 
    height: 48px; 
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    /* or 150% */
    
    font-feature-settings: 'liga' off;
    
    /* gray/600 */
    
    color: #52525B;
    margin-left: 80px;
    margin-top: 12px;
}

.thedetails
{
    margin-left: 80px;
    margin-top: 120px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    /* identical to box height, or 100% */

    letter-spacing: -0.02em;
    font-feature-settings: 'liga' off;

    /* gray/800 */

    color: #27272A;
}
.para2
{
    width: 670px;
    height: 240px;
    margin-left: 80px;
    margin-top: 32px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* gray/800 */

    color: #27272A;
}
.rectangle44
{
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 4px;
}
.rightcontainer
{
    flex-direction: column;
    margin-left: 150px;
    padding-top: 10px;

}
.img
{
    border-radius: 2px;
}

.rightinner{

    width: 485px;
    height: 320px;
    background: linear-gradient(274.03deg, #0284C7 0%, #0E7490 100%);
    margin-top: 52px;
}

.innerpara
{
    padding-top:40px;
    padding-left: 32px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    letter-spacing: -0.01em;

    color: #FFFFFF;
}

.start
{
    margin-left: 32px;
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: #FFFFFF;
    border-radius: 2px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */


    /* cyan/700 */

    color: #0E7490;

}

.section
{
    width: 1470px;
    height: 634px;
    background: #F4F4F5;
}
.section_main
{
    display: flex;
    width: 100%;
}
.sectionleft
{
    flex-direction: column;
}
.sectionleftmid
{

    flex-direction: column;
}
.sectionrightmid
{

    flex-direction: column;
}
.sectionright
{

    flex-direction: column;
}
.footer2
{
    width: 1470px;
    height: 380px;
    background: #F4F4F5;
}
.footer2_maincontainer
{
    padding-top: 81px;
    margin-left: 129px;
    width: 100%;
    display: flex;

}

.left
{
    flex-direction: column;
}
.leftmid
{
    margin-left: 402px;
}
.rightmid
{
    margin-left: 80px;
}
.right
{
    margin-left: 80px;
}